/* RESET ------------------*/
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;font-weight: inherit;font-style: inherit;font-size: 100%;line-height: 1;font-family: inherit;text-align: left;vertical-align: baseline;}
a img, :link img, :visited img {border: 0;}
table {border-collapse: collapse; border-spacing: 0;}
ol, ul {list-style: none;}
q:before, q:after, blockquote:before, blockquote:after {content: '';}


/* LAYOUT ---------------- */
body {
  padding-top: 60px;
}

#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  z-index: 60;
}

#sidebar {
  width: 276px;
}

#map-canvas,
#map {
  position: fixed !important; /* To overwrite position: relative automatically set on map-canvas */
  bottom: 0;
  right: 0;
  left: 276px;
  top: 60px;
  background: #555;
}

#map-overlay {
  position: absolute;
  top: 0;
  left: 0;
}


/* GENERAL STYLING ---------------- */
body {
  background-color: #fff;
  font-family: 'Ubuntu', 'Arial Narrow', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #94632f;
}

a:hover,
a:focus {
  color: #C58440;
}

textarea,
input[type="text"] {
  font-family: Verdana, sans-serif;
  font-size: 11px;
  border: 1px solid #d1d1d1;
  border-radius: 50px;
  background: #fff url('../graphics/search-icon.png') 5px center no-repeat;
  padding: 5px 5px 5px 25px;
  box-shadow: inset 0px 2px 6px #8c8c8c;
}

textarea:focus,
input[type="text"]:focus {
  outline: 0;
  background-color: #FBF5E4;
}

.ui-autocomplete {
  max-width: 250px;
  font-size: 11px;
  border: 1px solid #d1d1d1;
}

.ui-autocomplete a {
  display: block;
  padding: 5px;
  cursor: pointer;
  background: #fff;
  color: #000;
  font-family: Verdana, sans-serif;
  line-height: 1.3em;
  border-top: 1px solid #E6E6E6;
}

.ui-autocomplete li:first-child a {
  border-top: 0;
}

.ui-autocomplete a:hover,
.ui-autocomplete a:focus,
.ui-autocomplete a.ui-state-hover {
  background-color: #FBF5E4;
  outline: 0;
}


/* HEADER ---------------- */
#header {
  padding: 0 5px;
}

#header #logo {
  color: #fff;
  position: relative;
  line-height: 60px;
  display: inline-block;
}

#header #logo > * {
  display: inline-block;
  vertical-align: middle;
}

#header .version,
#header .about,
#header .social-media p {
  text-shadow: 0 3px 3px #000;
}

#header .version {
  position: absolute;
  bottom: 3px;
  left: 160px;
  font-size: 11px;
}

#header .about {
  margin-left: 40px;
  width: 40px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4em;
}

#header .social-media {
  position: absolute;
  right: 25px;
  top: 50%;
  margin-top: -16px;
}

#header .social-media p {
  display: inline-block;
  text-transform: uppercase;
  margin-left: 15px;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
}

#header .social-media a {
  display: inline-block;
  margin-left: 0;
  height: 40px;
  width: 40px;
  text-indent: -9999em;
  background: transparent url('../graphics/social-flattr.png') top left no-repeat;
}

#header .social-media a:hover,
#header .social-media a:focus {
  background-position: top right;
}

#header .social-media .facebook {
  background-image: url('../graphics/social-facebook.png');
}

#header .social-media .twitter {
  background-image: url('../graphics/social-twitter.png');
}


/* CONTROLS IN SIDEBAR ---------------- */
#sidebar {
  position: relative;
  z-index: 50;
}

#sidebar .form-item {
  padding: 10px;
}

#sidebar .date input,
#sidebar .form-item label {
  display: none;
}

#sidebar .date {
  padding: 0;
}

#sidebar .date a {
  display: inline-block;
  text-align: center;
  background: #d2d7e5;
  text-transform: uppercase;
  color: #73757f;
  padding: 6px 0;
  font-size: 10px;
  width: 39px;
  box-shadow: -1px 1px 1px #e9e9ff inset, 1px -1px 1px #a1a5b1 inset;
  text-shadow: 0 -1px 1px #3c3e42, 0 1px 1px #fff;
}

#sidebar .date a:hover,
#sidebar .date a:focus {
  background-color: #BFC4D3;
  box-shadow: -1px 1px 1px #DFDFF5 inset, 1px -1px 1px #8F939E inset;
}

#sidebar .date a.active,
#sidebar .date a.hover,
#sidebar .date a.focus {
  color: #fff;
  box-shadow: none;
  cursor: default;
}

#sidebar .date a:first-child,
#sidebar .date a:nth-child(2),
#sidebar .date a:nth-child(3) {
  width: 40px;
}

#sidebar .date a b {
  display: block;
  font-weight: 400;
}

#sidebar .date .daynumber {
  font-size: 20px;
  margin-top: 4px;
}

#sidebar .submit {
  text-align: center;
}


/* RESULT LIST ---------------- */
#list {
  font-size: 0;
}

#list .item {
  display: inline-block;
  vertical-align: top;
  padding: 8px 5px 5px;
  width: 82px;
  height: 82px;
  font-size: 11px;
  overflow: hidden;
  cursor: pointer;
}

#list .item.active {
  color: #fff;
  cursor: default;
}

#list .item img {
  max-width: 100%;
  height: auto;
}

#list .item .user {
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 5px;
  height: 1em;
  font-weight: 400;
  overflow: hidden;
}

#list .item .content {
  overflow: hidden;
  height: 68px;
}

#list .item .content p {
  line-height: 1.4em;
}


/* MAP ---------------- */
/* Info bubbles */
.bubble {
  position: relative;
  color: #808080;
  padding-left: 55px;
  padding-right: 18px;
  max-width: 300px;
  min-height: 48px;
}

img[src="http://maps.gstatic.com/intl/en_us/mapfiles/iw_close.gif"],
.bubble .close-button {
  position: absolute;
  top: 0 !important;
  right: 0 !important;
}

img[src="http://maps.gstatic.com/intl/en_us/mapfiles/iw_close.gif"] {
  opacity: 0;
  z-index: 2;
  right: 11px !important;
  top: 11px !important;
}

.bubble .close-button {
  z-index: 1;
}

.bubble .sender h3 {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 400;
}

.bubble .sender img {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
}

.bubble .text {
  line-height: 1.4em;
}

.bubble .media {
  margin-top: 5px;
}

.bubble .media img {
  max-width: 100%;
  height: auto;
}

.bubble .date {
  margin-top: 5px;
  color: #C5C5C5;
  font-size: 12px;
}


/* Map overlay */
#map-overlay {
  width: 50px;
}

#zoom {
  margin: 8px 0;
  text-align: center;
  position: relative;
  padding: 32px 0 37px;
}

#zoom .mapZoomer {
  height: 300px;
  border: 0;
}

#zoom .ui-slider-vertical {
  display: inline-block;
  width: 3px;
  background: rgb(203,203,203);
  background: -moz-linear-gradient(left,  rgba(203,203,203,1) 0%, rgba(152,152,152,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(203,203,203,1)), color-stop(100%,rgba(152,152,152,1)));
  background: -webkit-linear-gradient(left,  rgba(203,203,203,1) 0%,rgba(152,152,152,1) 100%);
  background: -o-linear-gradient(left,  rgba(203,203,203,1) 0%,rgba(152,152,152,1) 100%);
  background: -ms-linear-gradient(left,  rgba(203,203,203,1) 0%,rgba(152,152,152,1) 100%);
  background: linear-gradient(left,  rgba(203,203,203,1) 0%,rgba(152,152,152,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#989898',GradientType=1 );
}

#zoom .ui-slider-handle {
  width: 38px !important;
  height: 37px !important;
  background: transparent url('../graphics/zoom-handle.png') top left no-repeat !important;
  border: 0 !important;
  left: -18px !important;
  margin-bottom: -18px !important;
  outline: 0 !important;
  cursor: row-resize !important;
}

#zoom .zoom-out,
#zoom .zoom-in {
  position: absolute;
  top: 0;
  width: 38px;
  height: 38px;
  background: transparent url('../graphics/zoom-plus.png') top left no-repeat;
  text-indent: -99999em;
  left: 50%;
  margin-left: -19px;
}

#zoom .zoom-out {
  top: auto;
  bottom: 2px;
  background-image: url('../graphics/zoom-minus.png');
}


/* ABOUT OVERLAY ---------------- */
/* TODO: Go through and standardize reusable shit into reusables.css when done with main styling */
.overlay {
  z-index: 9999;
}

.overlay.hidden {
  display: none;
}

.overlay .overlay-back {
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(00, 00, 00, 0.6);
}

.overlay .overlay-content {
  z-index: 9999;
  position: absolute;
  background: #fff;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  top: 20px;
  padding: 20px;
  border: 1px solid #D4D4D4;
  border-radius: 10px;
}

.overlay .overlay-header {
  margin: -20px -20px 0 -20px;
  padding: 20px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.overlay .close-button {
  position: absolute;
  top: 20px;
  right: 20px;
}

.overlay .overlay-content ul,
.overlay .overlay-content p {
  margin-top: 1.3em;
  line-height: 1.3em;
  font-size: 1.1em;
}

.overlay .overlay-content .overlay-header + p {
  font-size: 2em;
  margin-top: 20px;
  font-weight: 400;
}

.overlay .overlay-content ul li {
  background: transparent url('../graphics/about-companies.png') left 1px no-repeat;
  padding-left: 25px;
  margin-top: 0.5em;
  line-height: 1.3em;
}

.overlay .overlay-content ul li:first-child {
  margin-top: 0;
}

.overlay .overlay-content .people {
  background-image: url('../graphics/about-people.png');
}

.overlay .overlay-content .code {
  background-image: url('../graphics/about-code.png');
}