@import 'classes.less';


/* RESET ------------------*/
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;font-weight: inherit;font-style: inherit;font-size: 100%;line-height: 1;font-family: inherit;text-align: left;vertical-align: baseline;}
a img, :link img, :visited img {border: 0;}
table {border-collapse: collapse; border-spacing: 0;}
ol, ul {list-style: none;}
q:before, q:after, blockquote:before, blockquote:after {content: '';}


/* GENERAL STYLING ---------------- */
body {
  background-color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
}


/* Header */
#header {
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;

  .boxShadow(0, 1px, 3px, rgba(0, 0, 0, 0.4));
  height: 60px;
  top: 0;
  z-index: 999;

  .addthis_toolbox {
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -16px;
  }
}

#header,
.overlay-header {
  background: #48b9fe;
  background: -moz-linear-gradient(top,  #48b9fe 0%, #303ebf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#48b9fe), color-stop(100%,#303ebf));
  background: -webkit-linear-gradient(top,  #48b9fe 0%,#303ebf 100%);
  background: -o-linear-gradient(top,  #48b9fe 0%,#303ebf 100%);
  background: -ms-linear-gradient(top,  #48b9fe 0%,#303ebf 100%);
  background: linear-gradient(top,  #48b9fe 0%,#303ebf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48b9fe', endColorstr='#303ebf',GradientType=0 );
}

.pp-logo,
#logo {
  background: transparent url('../graphics/logo-icon.png') left center no-repeat;
  display: inline-block;
  padding-left: 60px;

  b {
    background: transparent url('../graphics/logo-text.png') right center no-repeat;
    display: inline-block;
    width: 239px;
    text-indent: -99999em;
    height: 60px;
    vertical-align: middle;
  }
  p {
    display: inline-block;
    vertical-align: middle;
    color: #f5f5f5;
    line-height: 1.5;
    font-size: 8pt;
    font-style: italic;
  }
}

#header > * {
  display: inline-block;
  vertical-align: middle;
}


/* Forms & list ----------------------- */
#controls label {
  display: none;
}

input[type="text"] {
  border: 1px solid #d1d1d1;
  border-radius: 50px;
  background: #fff url('../graphics/search-icon.png') 5px center no-repeat;
  padding: 5px 5px 5px 25px;
  -moz-box-shadow: inset 0px 2px 6px #8c8c8c;
  -webkit-box-shadow: inset 0px 2px 6px #8c8c8c;
  box-shadow: inset 0px 2px 6px #8c8c8c;
}

.form-item {
  padding: 20px 5%;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #cfd6e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cfd6e6));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfd6e6',GradientType=0 );
}

#list-wrapper {
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #cfd6e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cfd6e6));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfd6e6',GradientType=0 );
  left: 0;
  position: absolute;
  top: 60px;
  bottom: 0;
  width: 240px;
  z-index: 100;

  #tab-content {
    position: absolute;
    top: 54px;
    bottom: 0;
    overflow: auto;
  }

  .tabs {
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    background: #ffffff;
    height: 53px;

    li {
      display: block;
      width: 50%;
      float: left;
    }

    a {
      text-decoration: none;
      width: 100%;
      color: #4e4e4e;
      padding: 20px 0;
      display: inline-block;
      text-align: center;
      background: #c3c9d9;
      background: -moz-linear-gradient(top,  #c3c9d9 0%, #8a8e99 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3c9d9), color-stop(100%,#8a8e99));
      background: -webkit-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
      background: -o-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
      background: -ms-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
      background: linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c9d9', endColorstr='#8a8e99',GradientType=0 );
    }

    a:hover,
    a:focus {
      background: #b5bbc9;
      background: -moz-linear-gradient(top,  #b5bbc9 0%, #7d7f89 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bbc9), color-stop(100%,#7d7f89));
      background: -webkit-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
      background: -o-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
      background: -ms-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
      background: linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bbc9', endColorstr='#7d7f89',GradientType=0 );
    }

    a.active {
      background: #ffffa3;
    }
  }
}

#list-wrapper.hidden {
  left: -241px;
}

#list-wrapper .always-show {
  position: absolute;
  left: 240px;
  top: 0;
  bottom: 0;
  border-left: 1px solid #bec2cd;
  border-right: 1px solid #bec2cd;
  padding: 10px;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #cfd6e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cfd6e6));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfd6e6',GradientType=0 );
}

/* Datepicker */
.form-item.date {
  padding: 0;
  background: transparent;
}

.form-item.date > label,
.form-item.date > input {
  display: none;
}

.ui-datepicker-header {
  overflow: hidden;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #cfd6e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cfd6e6));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfd6e6',GradientType=0 );
}

.ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker-header .ui-datepicker-next,
.ui-datepicker-header .ui-datepicker-title {
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 17px 0;
}

.ui-datepicker-header .ui-datepicker-title {
  width: 40%;
}

.ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker-header .ui-datepicker-next {
  width: 30%;
  float: left;
  cursor: pointer;
  background: #c3c9d9;
  background: -moz-linear-gradient(top,  #c3c9d9 0%, #8a8e99 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3c9d9), color-stop(100%,#8a8e99));
  background: -webkit-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  background: -o-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  background: -ms-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  background: linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c9d9', endColorstr='#8a8e99',GradientType=0 );
}

.ui-datepicker-header .ui-datepicker-prev:focus,
.ui-datepicker-header .ui-datepicker-next:focus,
.ui-datepicker-header .ui-datepicker-prev:hover,
.ui-datepicker-header .ui-datepicker-next:hover {
  background: #b5bbc9;
  background: -moz-linear-gradient(top,  #b5bbc9 0%, #7d7f89 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bbc9), color-stop(100%,#7d7f89));
  background: -webkit-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  background: -o-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  background: -ms-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  background: linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bbc9', endColorstr='#7d7f89',GradientType=0 );
}

.ui-datepicker-header .ui-datepicker-next {
  float: right;
}

.ui-datepicker-calendar {
  width: 100%;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
  background: #d1d8e7;
  color: #54565c;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
}

.ui-datepicker-calendar th span,
.ui-datepicker-calendar td a {
  height: 35px;
  display: table-cell;
  width: 33px;
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid #eae9ff;
  border-right: 1px solid #eae9ff;
  border-left: 1px solid #a1a6b3;
  border-bottom: 1px solid #a1a6b3;
}

.ui-datepicker-calendar td a {
  font-size: 20px;
  text-decoration: none;
  color: #737680;
  text-shadow: 0 -1px 1px #393b40, 0 1px 1px #fff;
  font-weight: normal;
}

.ui-datepicker-calendar td a:hover,
.ui-datepicker-calendar td a:focus {
  background-color: #BBC2D1;
  border-top-color: #C8D1E4;
  border-right-color: #C8D1E4;
}

.ui-datepicker-calendar td a.ui-state-active {
  background: #d1d8e7 url('../graphics/calendar-active.png') top left no-repeat;
}

.ui-autocomplete {
  background: #fff;
  width: 180px;
  border: 1px solid #000;
}

.ui-autocomplete li a {
  padding: 5px;
  cursor: pointer;
  display: block;
}

.ui-autocomplete .ui-state-hover {
  background: #efefef;
}

#toggle-sidebar {
  text-align: center;
  margin: -10px;
  color: #4e4e4e;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  background: #c3c9d9;
  background: -moz-linear-gradient(top,  #c3c9d9 0%, #8a8e99 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3c9d9), color-stop(100%,#8a8e99));
  background: -webkit-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  background: -o-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  background: -ms-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  background: linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c9d9', endColorstr='#8a8e99',GradientType=0 );
}

#toggle-sidebar:hover,
#toggle-sidebar:focus {
  background: #b5bbc9;
  background: -moz-linear-gradient(top,  #b5bbc9 0%, #7d7f89 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bbc9), color-stop(100%,#7d7f89));
  background: -webkit-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  background: -o-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  background: -ms-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  background: linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bbc9', endColorstr='#7d7f89',GradientType=0 );
}

#toggle-sidebar b {
  display: inline-block;
  background: transparent url('../graphics/toggle-left.png') center center no-repeat;
  text-indent: -99999em;
  width: 25px;
  line-height: 13px;
  padding: 20px 0;
}

.hidden #toggle-sidebar b {
  background-image: url('../graphics/toggle-right.png');
}

/* Zoom */
.zoom {
  text-align: center;
  position: relative;
  padding: 32px 0 37px;
}

.zoom .mapZoomer {
  height: 300px;
  border: 0;
}

.zoom .ui-slider-vertical {
  display: inline-block;
  width: 3px;
  background: rgb(203,203,203);
  background: -moz-linear-gradient(left,  rgba(203,203,203,1) 0%, rgba(152,152,152,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(203,203,203,1)), color-stop(100%,rgba(152,152,152,1)));
  background: -webkit-linear-gradient(left,  rgba(203,203,203,1) 0%,rgba(152,152,152,1) 100%);
  background: -o-linear-gradient(left,  rgba(203,203,203,1) 0%,rgba(152,152,152,1) 100%);
  background: -ms-linear-gradient(left,  rgba(203,203,203,1) 0%,rgba(152,152,152,1) 100%);
  background: linear-gradient(left,  rgba(203,203,203,1) 0%,rgba(152,152,152,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#989898',GradientType=1 );
}

.zoom .ui-slider-handle {
  width: 38px !important;
  height: 37px !important;
  background: transparent url('../graphics/zoom-handle.png') top left no-repeat !important;
  border: 0 !important;
  left: -18px !important;
  margin-bottom: -18px !important;
  outline: 0 !important;
  cursor: row-resize !important;
}

.zoom .zoom-out,
.zoom .zoom-in {
  position: absolute;
  top: 0;
  width: 38px;
  height: 38px;
  background: transparent url('../graphics/zoom-plus.png') top left no-repeat;
  text-indent: -99999em;
  left: 50%;
  margin-left: -19px;
}

.zoom .zoom-out {
  top: auto;
  bottom: 0;
  background-image: url('../graphics/zoom-minus.png');
}

/* Submit */
.submit {
  cursor: pointer;
  margin: 10px 0px;
  color: #F5F5F5;
  background: #EE5B00;
  .boxShadow(0, 1px, 3px, rgba(0, 0, 0, 0.4));
  font-size: 1.1em;
  padding: 4px 8px;
  .roundedCorners(5px);
  border: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#DD4B00), to(#FF7B00));
  background: -webkit-linear-gradient(top, #DD4B00, #FF7B00);
  background: -moz-linear-gradient(top, #DD4B00, #FF7B00);
  background: -ms-linear-gradient(top, #DD4B00, #FF7B00);
  background: -o-linear-gradient(top, #DD4B00, #FF7B00);
}

.submit:hover {
  background: #DD4B00;
}

.submit:active {
  background: #BB2B00;
}

/* Result list */
#list {

  .item {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #cdd4e4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#cdd4e4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#cdd4e4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #ffffff 0%,#cdd4e4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #ffffff 0%,#cdd4e4 100%); /* IE10+ */
    background: linear-gradient(-45deg,  #ffffff 0%,#cdd4e4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdd4e4',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    float: left;
    width: 33%;
    overflow: hidden;
    height: 80px;
    outline: 1px solid #bec2cd;
    position: relative;

    .content {
      overflow: hidden;
      padding: 0 5px;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .pseudo-image {
      font-family: Georgia, serif;
      font-weight: normal;
      font-size: 11px;
      height: 69px;
      color: #9397A8;
      text-shadow: 0 1px 1px #fff;
    }

    .user {
      font-weight: bold;
      font-size: 11px;
      padding: 5px 5px 3px 5px;
    }
  }

  .item:nth-child(3n+3) {
    border-left: 0
  }

  .item:hover {
    cursor: pointer;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #a7abb7 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#a7abb7)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#a7abb7 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  #ffffff 0%,#a7abb7 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  #ffffff 0%,#a7abb7 100%); /* IE10+ */
    background: linear-gradient(-45deg,  #ffffff 0%,#a7abb7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a7abb7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  .item.active {
    color: #fff;
    background: #3f9eff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3f9eff 0%, #5600ff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#3f9eff), color-stop(100%,#5600ff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #3f9eff 0%,#5600ff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #3f9eff 0%,#5600ff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #3f9eff 0%,#5600ff 100%); /* IE10+ */
    background: linear-gradient(-45deg, #3f9eff 0%,#5600ff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f9eff', endColorstr='#5600ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  
  .item.active .pseudo-image {
    color: #fff;
    text-shadow: 0 0 0 #fff;
  }

}


/* Map ----------------------- */
#map {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 301px;
  right: 0;
}

#map.sidebar-hidden {
  left: 60px;
}

#map #map-canvas {
  height: 100%;
}

/* Info bubbles */
img[src="http://maps.gstatic.com/intl/en_us/mapfiles/iw_close.gif"],
.close-bubble {
  height: 22px !important;
  width: 23px !important;
  position: absolute;
  top: 0 !important;
  right: 0 !important;
}

img[src="http://maps.gstatic.com/intl/en_us/mapfiles/iw_close.gif"] {
  opacity: 0;
  z-index: 2;
  right: 11px !important;
  top: 11px !important;
}

.close-bubble {
  background: transparent url('../graphics/bubble-close.png') center center no-repeat;
  text-indent: -99999em !important;
  z-index: 1;
}

.bubble-content {
  position: relative;
  color: #4e4e4e;
  padding-left: 55px;
  padding-right: 18px;
  max-width: 300px;
  min-height: 48px;

  .sender {
    color: #4e4e4e;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 0.2em;
    display: inline-block;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 48px;
    }
  }

  .text {
    line-height: 1.3em;
  }

  .media {
    margin-top: 0.5em;

    img {
      width: auto;
      height: auto;
      max-width: 100%;
    }
  }
}

.overlay-content a,
.bubble-content a {
  text-decoration: none;
  color: #9C9C9C;
}
.overlay-content a:focus,
.bubble-content a:focus,
.overlay-content a:hover,
.bubble-content a:hover {
  color: #696969;
}


/* Overlay ----------------------- */
#about-placeper.overlay {
  z-index: 9999;
}

.overlay.hidden {
  display: none;
}

.overlay-back {
  z-index: 9999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(00, 00, 00, 0.6);
}

.overlay-header {
  margin: -20px -20px 0 -20px;
  padding: 5px 20px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.overlay-close {
  background: transparent url('../graphics/bubble-close.png') center center no-repeat;
  text-indent: -99999em !important;
  z-index: 1;
  height: 22px;
  width: 23px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.overlay-content {
  z-index: 9999;
  position: absolute;
  background: #fff;
  width: 600px;
  left: 50%;
  margin-left: -300px;
  top: 20px;
  padding: 20px;
  border: 1px solid #D4D4D4;
  border-radius: 10px;

  ul,
  p {
    margin-top: 1.3em;
    line-height: 1.3em;
    font-size: 1.1em;
  }

  .overlay-header + p {
    font-size: 1.5em;
  }

  h2 {
    font-size: 2em;
    font-weight: bold;
  }

  ul li {
    background: transparent url('../graphics/about-companies.png') left 1px no-repeat;
    padding-left: 25px;
    margin-top: 0.5em;
    line-height: 1.3em;
  }

  ul li:first-child {
    margin-top: 0;
  }

  .people {
    background-image: url('../graphics/about-people.png');
  }

  .code {
    background-image: url('../graphics/about-code.png');
  }
}