@import 'classes.less';


/* RESET ------------------*/
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;font-weight: inherit;font-style: inherit;font-size: 100%;line-height: 1;font-family: inherit;text-align: left;vertical-align: baseline;}
a img, :link img, :visited img {border: 0;}
table {border-collapse: collapse; border-spacing: 0;}
ol, ul {list-style: none;}
q:before, q:after, blockquote:before, blockquote:after {content: '';}


/* GENERAL STYLING ---------------- */
body {
  background-color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 13px;
}


/* Header */
#header {
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: #48b9fe;
  background: -moz-linear-gradient(top,  #48b9fe 0%, #303ebf 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#48b9fe), color-stop(100%,#303ebf));
  background: -webkit-linear-gradient(top,  #48b9fe 0%,#303ebf 100%);
  background: -o-linear-gradient(top,  #48b9fe 0%,#303ebf 100%);
  background: -ms-linear-gradient(top,  #48b9fe 0%,#303ebf 100%);
  background: linear-gradient(top,  #48b9fe 0%,#303ebf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48b9fe', endColorstr='#303ebf',GradientType=0 );
  .boxShadow(0, 1px, 3px, rgba(0, 0, 0, 0.4));
  height: 60px;
  top: 0;
  z-index: 9999;

  #logo {
    background: transparent url('../graphics/logo-icon.png') left center no-repeat;
    display: inline-block;
    width: 305px;

    b {
      background: transparent url('../graphics/logo-text.png') right center no-repeat;
      display: block;
      text-indent: -99999em;
      height: 60px;
    }
  }

  .addthis_toolbox {
    margin-top: 5px;
    margin-left: 100px;
  }
}

#header > * {
  display: inline-block;
  vertical-align: middle;
}


/* Forms & list ----------------------- */
#controls label {
  display: none;
}

input[type="text"] {
  border: 1px solid #d1d1d1;
  border-radius: 50px;
  background: #fff url('../graphics/search-icon.png') 5px center no-repeat;
  padding: 5px 5px 5px 25px;
  -moz-box-shadow: inset 0px 2px 6px #8c8c8c;
  -webkit-box-shadow: inset 0px 2px 6px #8c8c8c;
  box-shadow: inset 0px 2px 6px #8c8c8c;
}

.form-item {
  padding: 20px 5%;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #cfd6e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cfd6e6));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfd6e6',GradientType=0 );
}

#list-wrapper {
  background: #fff;
  left: 0;
  position: fixed;
  top: 60px;
  bottom: 0;
  width: 240px;
  z-index: 100;

  .tabs {
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    background: #ffffff;

    li {
      display: block;
      width: 50%;
      float: left;
    }

    a {
      text-decoration: none;
      width: 100%;
      color: #4e4e4e;
      padding: 20px 0;
      display: inline-block;
      text-align: center;
      background: #c3c9d9;
      background: -moz-linear-gradient(top,  #c3c9d9 0%, #8a8e99 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3c9d9), color-stop(100%,#8a8e99));
      background: -webkit-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
      background: -o-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
      background: -ms-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
      background: linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c9d9', endColorstr='#8a8e99',GradientType=0 );
    }

    a:hover,
    a:focus {
      background: #b5bbc9;
      background: -moz-linear-gradient(top,  #b5bbc9 0%, #7d7f89 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bbc9), color-stop(100%,#7d7f89));
      background: -webkit-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
      background: -o-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
      background: -ms-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
      background: linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bbc9', endColorstr='#7d7f89',GradientType=0 );
    }

    a.active {
      background: #ffffa3;
    }
  }
}

#list-wrapper.hidden {
  left: -241px;
}

#list-wrapper .always-show {
  position: absolute;
  left: 240px;
  top: 0;
  bottom: 0;
  border-left: 1px solid #bec2cd;
  border-right: 1px solid #bec2cd;
  padding: 10px;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #cfd6e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cfd6e6));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfd6e6',GradientType=0 );
}

/* Datepicker */
.form-item.date {
  padding: 0;
  background: transparent;
}

.form-item.date > label,
.form-item.date > input {
  display: none;
}

.ui-datepicker-header {
  overflow: hidden;
  background: #ffffff;
  background: -moz-linear-gradient(top,  #ffffff 0%, #cfd6e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cfd6e6));
  background: -webkit-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -o-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: -ms-linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  background: linear-gradient(top,  #ffffff 0%,#cfd6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfd6e6',GradientType=0 );
}

.ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker-header .ui-datepicker-next,
.ui-datepicker-header .ui-datepicker-title {
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 17px 0;
}

.ui-datepicker-header .ui-datepicker-title {
  width: 40%;
}

.ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker-header .ui-datepicker-next {
  width: 30%;
  float: left;
  cursor: pointer;
  background: #c3c9d9;
  background: -moz-linear-gradient(top,  #c3c9d9 0%, #8a8e99 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3c9d9), color-stop(100%,#8a8e99));
  background: -webkit-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  background: -o-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  background: -ms-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  background: linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c9d9', endColorstr='#8a8e99',GradientType=0 );
}

.ui-datepicker-header .ui-datepicker-prev:focus,
.ui-datepicker-header .ui-datepicker-next:focus,
.ui-datepicker-header .ui-datepicker-prev:hover,
.ui-datepicker-header .ui-datepicker-next:hover {
  background: #b5bbc9;
  background: -moz-linear-gradient(top,  #b5bbc9 0%, #7d7f89 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bbc9), color-stop(100%,#7d7f89));
  background: -webkit-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  background: -o-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  background: -ms-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  background: linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bbc9', endColorstr='#7d7f89',GradientType=0 );
}

.ui-datepicker-header .ui-datepicker-next {
  float: right;
}

.ui-datepicker-calendar {
  width: 100%;
}

.ui-datepicker-calendar th,
.ui-datepicker-calendar td {
  background: #d1d8e7;
  color: #54565c;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
}

.ui-datepicker-calendar th span,
.ui-datepicker-calendar td a {
  height: 35px;
  display: table-cell;
  width: 33px;
  vertical-align: middle;
  text-align: center;
  border-top: 1px solid #eae9ff;
  border-right: 1px solid #eae9ff;
  border-left: 1px solid #a1a6b3;
  border-bottom: 1px solid #a1a6b3;
}

.ui-datepicker-calendar td a {
  font-size: 20px;
  text-decoration: none;
  color: #737680;
  text-shadow: 0 -1px 1px #393b40, 0 1px 1px #fff;
  font-weight: normal;
}

.ui-datepicker-calendar td a:hover,
.ui-datepicker-calendar td a:focus {
  background-color: #BBC2D1;
  border-top-color: #C8D1E4;
  border-right-color: #C8D1E4;
}

.ui-datepicker-calendar td a.ui-state-active {
  background: #d1d8e7 url('../graphics/calendar-active.png') top left no-repeat;
}

.ui-autocomplete {
  background: #fff;
  width: 180px;
  border: 1px solid #000;
}

.ui-autocomplete li a {
  padding: 5px;
  cursor: pointer;
  display: block;
}

.ui-autocomplete .ui-state-hover {
  background: #efefef;
}

#toggle-sidebar {
  text-align: center;
  margin: -10px;
  color: #4e4e4e;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  background: #c3c9d9;
  background: -moz-linear-gradient(top,  #c3c9d9 0%, #8a8e99 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3c9d9), color-stop(100%,#8a8e99));
  background: -webkit-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  background: -o-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  background: -ms-linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  background: linear-gradient(top,  #c3c9d9 0%,#8a8e99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c9d9', endColorstr='#8a8e99',GradientType=0 );
}

#toggle-sidebar:hover,
#toggle-sidebar:focus {
  background: #b5bbc9;
  background: -moz-linear-gradient(top,  #b5bbc9 0%, #7d7f89 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5bbc9), color-stop(100%,#7d7f89));
  background: -webkit-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  background: -o-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  background: -ms-linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  background: linear-gradient(top,  #b5bbc9 0%,#7d7f89 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bbc9', endColorstr='#7d7f89',GradientType=0 );
}

#toggle-sidebar b {
  display: inline-block;
  background: transparent url('../graphics/toggle-left.png') center center no-repeat;
  text-indent: -99999em;
  width: 25px;
  line-height: 13px;
  padding: 20px 0;
}

.hidden #toggle-sidebar b {
  background-image: url('../graphics/toggle-right.png');
}

/* Zoom */
.zoom {
  text-align: center;
  position: relative;
  padding: 32px 0 37px;
}

.zoom .mapZoomer {
  height: 300px;
  border: 0;
}

.zoom .ui-slider-vertical {
  display: inline-block;
  width: 3px;
  background: rgb(203,203,203);
  background: -moz-linear-gradient(left,  rgba(203,203,203,1) 0%, rgba(152,152,152,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(203,203,203,1)), color-stop(100%,rgba(152,152,152,1)));
  background: -webkit-linear-gradient(left,  rgba(203,203,203,1) 0%,rgba(152,152,152,1) 100%);
  background: -o-linear-gradient(left,  rgba(203,203,203,1) 0%,rgba(152,152,152,1) 100%);
  background: -ms-linear-gradient(left,  rgba(203,203,203,1) 0%,rgba(152,152,152,1) 100%);
  background: linear-gradient(left,  rgba(203,203,203,1) 0%,rgba(152,152,152,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#989898',GradientType=1 );
}

.zoom .ui-slider-handle {
  width: 38px !important;
  height: 37px !important;
  background: transparent url('../graphics/zoom-handle.png') top left no-repeat !important;
  border: 0 !important;
  left: -18px !important;
  margin-bottom: -18px !important;
  outline: 0 !important;
  cursor: row-resize !important;
}

.zoom .zoom-out,
.zoom .zoom-in {
  position: absolute;
  top: 0;
  width: 38px;
  height: 38px;
  background: transparent url('../graphics/zoom-plus.png') top left no-repeat;
  text-indent: -99999em;
  left: 50%;
  margin-left: -19px;
}

.zoom .zoom-out {
  top: auto;
  bottom: 0;
  background-image: url('../graphics/zoom-minus.png');
}

/* Submit */
.submit {
  margin: 10px 0px;
  color: #F5F5F5;
  background: #EE5B00;
  .boxShadow(0, 1px, 3px, rgba(0, 0, 0, 0.4));
  font-size: 1.1em;
  padding: 4px 8px;
  .roundedCorners(5px);
  border: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#DD4B00), to(#FF7B00));
  background: -webkit-linear-gradient(top, #DD4B00, #FF7B00);
  background: -moz-linear-gradient(top, #DD4B00, #FF7B00);
  background: -ms-linear-gradient(top, #DD4B00, #FF7B00);
  background: -o-linear-gradient(top, #DD4B00, #FF7B00);
}

.submit:hover {
  background: #DD4B00;
}

.submit:active {
  background: #BB2B00;
}


/* Map ----------------------- */
#map {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 301px;
  right: 0;
}

#map.sidebar-hidden {
  left: 60px;
}

#map #map-canvas {
  height: 100%;
}